/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #2684bb; /* Soft blue */
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background: #b9c1c7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0 0 10px;
    font-family: 'Roboto', sans-serif;
}

section {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: Bold;
    color: #555;
}

select, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

select {
    background-color: #f9f9f9;
}

button {
    background-color: #2684bb; /* Soft Blue */
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2684bb;
}

#recommendations {
    list-style: none;
    padding: 0;
}

#recommendations li {
    background: #e6f7ff; /* Light blue */
    margin: 8px 0;
    padding: 12px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2684bb; /* Soft Blue */
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}